* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  height: 100%;
  min-height: 100%;

  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;  
  font-family: "Roboto Mono", monospace;
}

.imageHeader {
  display: flex;
  flex-grow: 10;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em;
}

#imgCabecera {
  width: 40%;
}

.searchContainer {
  display: flex;
  flex-grow: 10;
  display: flex;
  align-items: center;
  gap: 2em;
  justify-content: center;
  padding: 0.75em;
}

#search {
  border: solid 5px blue;
  border-radius: 1em;
  padding: 1em;
  background-color: blue;
  color: white;
}

#catalogContainer {
  flex-grow: 80;
  display: grid;
  gap: 2.5em;
  padding: 2.5em 5em;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

/* estilo de la tarjeta */

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  /* background-image: url(./img/fondo5-pokemon.jpeg); */
  color: black;
  position: absolute;
}

.flip-card-back {
  color: black;
  transform: rotateY(180deg);

  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-title {
  padding: 0.75em;
  font-size: 2rem;
  text-transform: capitalize;
}

.pokemon-image {
  position: relative;
  width: 180px;
  height: 150px;
}
